<%-include("header")%>
    <div class="box" id="heading">
        <h1><%=title%></h1>
    </div>
    <div class="box">
        <form action="/delete" method="post">
            <%items.forEach(function(item){%>
                <div class="item">
                    <input type="checkbox" name="itemName" value="<%=item.name%>" onchange="this.form.submit()">
                    <p><%=item.name%></>
                </div>
            <%});%>
            <input type="hidden" name="listName" value="<%=title%>">
        </form>
        <form class="item" action="/" method="post">
            <input type="text" name="tinput" placeholder="Enter New Item..." autocomplete="off" required>
            <button type="submit" name="button" value="<%=title%>">+</button>
        </form>
    </div>
    <footer>by <em><b><u>ARGHYA DEEP PAL</u></b></em></footer>
<%-include("footer")%>
    